body{
    padding: 0;
    margin: 0;
    font-family: medi;
    overflow: hidden;
}
@font-face {
    font-family: medi;
    src: url(fonts/medievalsharp-v24-latin-regular.woff2);
}
.less-visible{
    opacity: 0.3;
}
.d-none{
    display: none;
}
.fire{
    background-image: url(img/bg3.jpg) !important;
    background-size: cover;
}
.leaf{
    background-image: url(img/bg2.jpg) !important;
    background-size: cover;
}

/*######################################### start screen ############################### */

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(img/bg1.jpg);
    background-size: cover;
}
.player-box-container{
    display: flex;
    align-items: center;
}
.player-titles{
    width: 399px;
    padding: 10px;
    margin: 10px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.player-titles span{
    background-color: rgba(14, 109, 14, 0.9);
    padding: 5px;
    border-radius: 10px;
}
.player-box{
    width: 133px;
    height: 133px;
    background-color: white;
    margin-left: 66px;
    margin-right: 66px;
    border-radius: 10px;
    overflow: hidden;
}
.player-box img{
    width: 100%;
}
.box2 img{
    transform: translateY(-67%);
}
.box1 img{
    transform: translateY(-83.5%);  
}
.title{
    display: flex;
    flex-direction: column;
}
.title button{
    font-size: 26px;
    margin-top: 40px;
    padding: 10px;
    width: 399px;
    color: white;
    background-color: rgba(14, 109, 14, 0.9);
    border: none;
    border-radius: 10px;
    font-family: medi;
    cursor: pointer;
}
.icon-links{
    margin-top: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.icon-links a{
    text-decoration: none;
    color: white;
}
.sound-control{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    cursor: pointer;
}
.sound-control img{
    width: 35px;
}
/*################################ play screen #########################*/

.players-titles-field{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 5px;
    font-size: 26px;
    background-color: white;
    border-radius: 10px;
}
.players-titles-field img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.player-names-box{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    flex-direction: column;
}
.title-table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-image: url(img/bg1.jpg);
    background-size: cover;  
}
.image-and-name{
    display: flex;
    align-items: center;
}

.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
table {
    border-collapse: collapse;
  }
tr{
    width: 399px;
}
table td{
    width: 133px;
    height: 133px;
    border: 5px solid rgb(9, 100, 9);
}
table tr:first-child td {
    border-top: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
.shape{
    position: absolute;
    top: 18px;
    left: 18px;
}
td{
    position: relative;
    cursor: pointer;
}
td:hover{
    background-color: rgba(36, 125, 4, 0.1);
}

/* ################################ end screen ####################### */

.end-screen, .end-screen-tied, .end-screen-pwon{
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: white;
    transform: translateX(-100%);
    z-index: 10;
    padding: 20px;
}
.end-screen{
    background-color: rgb(244, 121, 50);
}
.end-screen-tied{
    background-color: rgba(110, 220, 136, 0.958);
}
.end-screen-pwon{
    background-color: rgba(94, 177, 241, 0.96);
}
.end-screen-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.end-screen a, .end-screen-tied a, .end-screen-pwon a{
    font-size: 26px;
    margin-top: 40px;
    padding: 10px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: medi;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.end-screen a{
    background-color: rgba(242, 157, 0, 0.9);
}
.end-screen-tied a{
    background-color: rgba(14, 109, 14, 0.9);
}
.end-screen-pwon a{
    background-color: rgba(30, 58, 222, 0.9);
}
/* +++++++++++++++++++++++++++++++++ Mobiles +++++++++++++++++++++++++*/
@media (max-width: 500px){
    .player-titles{
        width: 299px;
    }
    .player-box{
        width: 99px;
        height: 99px;
        margin-right: 50px;
        margin-left: 50px;
    }
    .title button{
        width: 299px;
    }
    tr{
        width: 299px;
    }
    table td{
        width: 99px;
        height: 99px;
    }
    .shape{
        top: 0;
        left: 0;
    }
    .end-screen, .end-screen-tied, .end-screen-pwon{
        top: 12%;
        text-align: center;
        width: 90%;
    }
    .players-titles-field{
        padding: 5px;
        font-size: 22px;
    }
    .players-titles-field img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}
@media (max-width: 500px){
    .players-titles-field{
        justify-content: space-between;
        height: 130px;
        flex-direction: column;
    }

}